<div class="ui icon message">

    <i class="bookmark icon"></i>
  
    <div class="content">
  
       <div class="header">
  
         Université AUSY : La voie de l'excellence opérationnelle
  
      </div>
  
      <p>L’Université AUSY est le poumon de la politique RH du Groupe. C’est une structure de formation continue que nous avons mise en place depuis 2007 et qui a largement fait ses preuves.</p>
  
     </div>
  
  </div>
  
  <img class="ui fluid rounded image" src="assets/images/university.png">