<form class="ui form" #form="ngForm" (ngSubmit)="onSubmit(form)">

  <div class="field">

    <label>Nom</label>

    <input type="text" name="name" placeholder="Nom" [(ngModel)]="currentUser.name" required 
    #nameField="ngModel" [class.user-field-error]="form.submitted && nameField.invalid"/>

    <div class="ui red pointing label" [class.hidden]="!form.submitted || nameField.valid">
      Merci d'entrer un nom
    </div>
  </div>

  <div class="field">

    <label>Age</label>

    <input type="number" name="age" placeholder="Age" [(ngModel)]="currentUser.age"
    pattern="(1[89]|[2-5][0-9]|6[0-5])" required #ageField="ngModel" [class.user-field-error]="form.submitted && ageField.invalid"/>

    <div class="ui red pointing label" [class.hidden]="!form.submitted  || ageField.valid">
      Merci d'entrer un age
    </div>
  </div>

  <div class="field">

    <label>Poste</label>

    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="currentUser.job">
      <label ngbButtonLabel class="btn-primary" *ngFor="let job of jobs">
        <input ngbButton type="radio" [value]="job.key"> {{job.value}}
      </label>
    </div>
  </div>

  <div class="field">

    <label>Note</label>

    <input type="range" name="rating" placeholder="Note" pattern="([1-5]\d)" [(ngModel)]="currentUser.rating"
    required #ratingField="ngModel" [class.user-field-error]="form.submitted && ratingField.invalid" />

    <div class="ui red pointing label" [class.hidden]="!form.submitted ||  ratingField.valid">
      Merci de rater
    </div>
  </div>

  <h4 class="ui dividing header">Compétences</h4>

  <div class="inline fields">

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="jee" [(ngModel)]="currentUser.jee"/>

          <label>JEE</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="java" [(ngModel)]="currentUser.java"/>

          <label>Java</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="soa" [(ngModel)]="currentUser.soa"/>

          <label>SOA</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="javascript" [(ngModel)]="currentUser.javascript"/>

          <label>JavaScript</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="angular" [(ngModel)]="currentUser.angular"/>

          <label>Angular</label>

        </div>

      </div>

    </div>

  </div>

  <div class="inline fields">

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="junit" [(ngModel)]="currentUser.junit"/>

          <label>Junit</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="selenium" [(ngModel)]="currentUser.selenium"/>

          <label>Selenium</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="squash" [(ngModel)]="currentUser.squash"/>

          <label>Squash</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="robot" [(ngModel)]="currentUser.robot"/>

          <label>Robot Framework</label>

        </div>

      </div>

    </div>

  </div>

  <div class="inline fields">

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="cpp" [(ngModel)]="currentUser.cpp"/>

          <label>C++</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="net" [(ngModel)]="currentUser.net"/>

          <label>.Net</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="scrum" [(ngModel)]="currentUser.scrum"/>

          <label>SCRUM</label>

        </div>

      </div>

    </div>

    <div class="field">

      <div class="ui left compact segment">

        <div class="ui toggle checkbox">

          <input type="checkbox" name="kanban"  [(ngModel)]="currentUser.kanban"/>

          <label>KANBAN</label>

        </div>

      </div>

    </div>
  </div>
  <div class="ui red label" [class.hidden]="!error">
    {{errorMessage}}
  </div>
  <button class="ui primary button">

    Save

  </button>

</form>

